@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic-ext");
#first_title {
  margin-top: 5%;
  position: relative;
  z-index: 5; }

#first_subtitle {
  position: relative;
  z-index: 5; }

#statist {
  padding-top: 15%;
  padding-left: 20%;
  margin-bottom: 10%; }

.easy-start {
  height: 400px;
  width: 100vw;
  margin-bottom: 10%; }
  .easy-start-content {
    position: relative;
    z-index: 4;
    padding-top: 125px; }
  .easy-start-background {
    position: absolute;
    z-index: 3;
    background: url(https://sun9-68.userapi.com/c853520/v853520553/1de677/nWlc2lDtfNo.jpg);
    background-size: cover;
    opacity: 30%;
    height: 400px;
    width: 100vw; }

* {
  box-sizing: border-box; }

#first_title {
  position: relative;
  opacity: 0; }

#first_subtitle {
  position: relative;
  opacity: 0; }

.padding_cal {
  position: relative;
  z-index: 3;
  padding-left: 5%; }

.calendar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px; }
  .calendar_rotate_background {
    position: absolute;
    clip-path: polygon(0 28%, 100% 8%, 100% 72%, 0 92%);
    width: 100%;
    height: 100%;
    min-height: 160%;
    transform: translateY(1%);
    background: #E0E0E0;
    z-index: 1; }
  .calendar_left {
    transform: scale(1.3) translateX(26%);
    background: #00A8E8;
    box-shadow: 0px 4px 15px;
    width: 400px;
    height: 415px;
    border-radius: 5px;
    padding: 1.5em;
    z-index: 3;
    opacity: 0;
    position: inherit; }
    .calendar_left .cal_header {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1.5em;
      color: #FFF; }
      .calendar_left .cal_header i {
        cursor: pointer; }
  .calendar_right {
    background: #0096cf;
    width: 350px;
    height: 415px;
    box-shadow: 0px 4px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: inherit;
    transform: scale(1.2) translateX(-50%);
    z-index: 2;
    opacity: 0; }
    .calendar_right .list2 {
      height: 351px;
      overflow: scroll;
      padding: 1em; }
      .calendar_right .list2 ul {
        padding: 2.25em; }
      .calendar_right .list2 li {
        padding: 1em;
        width: 180px;
        color: #FFF;
        transform: translateX(-700px); }
      .calendar_right .list2 .description {
        font-size: 12px; }
    .calendar_right form {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      display: flex;
      flex-flow: row wrap; }
    .calendar_right input {
      background: #008ec4;
      border: none;
      padding: 1.2em;
      flex: 2;
      outline: none;
      color: #FFF; }
    .calendar_right select {
      background: #007fb0;
      border: none;
      padding: 1.2em;
      outline: none;
      color: #FFF;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 5px;
      appearance: none; }

.days {
  display: flex;
  justify-content: flex-start;
  width: 400px; }
  .days .day_item {
    color: #FFF;
    width: 50px;
    text-align: center;
    padding-bottom: 0em; }

.dates {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 350px; }
  .dates .date_item {
    color: #FFF;
    width: 50px;
    text-align: center;
    height: 50px;
    padding: 1em;
    cursor: pointer;
    border-radius: 100%; }

.present {
  background: #FFF;
  transform: scale(0.7);
  border-radius: 50px;
  padding: 0.95em !important;
  color: #00A8E8 !important;
  z-index: 0;
  box-shadow: 10px 10px 5px #009dd9;
  animation: bounce-button-in 0.45s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

::-webkit-scrollbar {
  display: none; }

::-webkit-input-placeholder {
  color: #FFF; }

.bounce-in.ng-animate {
  animation: none 0s; }

.bounce-in {
  animation: bounce-in 0.9s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

@keyframes bounce-in {
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(7px); }
  100% {
    transform: translateX(2px); } }
@keyframes bounce-button-in {
  0% {
    transform: translateZ(0) scale(0); }
  100% {
    transform: translateZ(0) scale(0.7); } }
