@charset "utf-8";
//@import '../mysass.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic-ext');

// #first_title{
//   margin-top: 5%;
// }
// Variables
$primary-color: #00A8E8;
$radius: 5px;
$back-color: #E0E0E0;


* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}



.calendar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  z-index: 2;
    &_rotate_background{
    position: absolute;
    width: 1000%;
    height: 100%;
    // width: 1920px;
    // height: 1080px;
    background: #E0E0E0;
    z-index: 1;
    transform:rotate(-4deg);
  }
  &_left {
    background: $primary-color;
    width: 400px;
    height: 415px;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    padding: 1.5em;
    z-index: 3;
    .cal_header {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1.5em;
      color: #FFF;
      i {
        cursor: pointer;
      }
    }
  }
  &_right {
    background: darken($primary-color, 5%);
    width: 350px;
    height: 415px;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    position: relative;
    transform: scale(0.95) translateX(-10px);
    z-index: 2;
    .list2 {
      height: 351px;
      overflow-y: scroll;
      padding: 1em;
      ul {
        padding: 2.25em;  
      }
      li {
        padding: 1em;
        width: 180px;
        color: #FFF;
        transform: translateX(-700px);
      }
      .description {
        font-size: 12px;
      }
    }
    form {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }
    input {
      background: darken($primary-color, 7%);
      border: none;
      padding: 1.2em;
      flex: 2;
      outline: none;
      color: #FFF;
      border-bottom-right-radius: $radius;
    }
    select {
      background: darken($primary-color, 11%);
      border: none;
      padding: 1.2em;
      outline: none;
      color: #FFF;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: $radius;
      appearance: none;
    }
  }
}

.days {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  .day_item {
    color: #FFF;
    width: 50px;
    text-align:center;
    padding-bottom: 0em;
  }
}

.dates {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 350px;
  .date_item {
    color: #FFF;
    width: 50px;
    text-align:center;
    height: 50px;
    padding: 1em;
    cursor: pointer;
    border-radius: 100%;
  }
}

.present {
  background: #FFF;
  transform: scale(0.7);
  border-radius: 50px;
  padding: 0.95em !important;
  color: $primary-color !important;
  z-index: 0;
  box-shadow: 10px 10px 5px darken($primary-color, 3%);
  animation: bounce-button-in .45s 0s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}

// Browser Specific Overwrites
::-webkit-scrollbar {
  display: none;
}

::-webkit-input-placeholder {
   color: #FFF;
}

// Animations
.bounce-in.ng-animate { 
  animation: none 0s; 
}

.bounce-in {
  animation: bounce-in .9s 0s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}

@keyframes bounce-in {
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(2px);
  }
}

@keyframes bounce-button-in {
  0% {
    transform: translateZ(0) scale(0);
  }
  100% {
    transform: translateZ(0) scale(0.7);
  }
}

// $newcolor: #000033;
// $dark: $newcolor;
// $size-1: 4.5rem;
//$grey: #ffdc0d;
$family-sans-serif:'Open Sans', sans-serif;
//$family-sans-serif: "Nunito", sans-serif;


// @import "../sass/utilities/_all.sass";
// @import "../sass/base/_all.sass";
// @import "../sass/elements/_all.sass";
// @import "../sass/form/_all.sass";
// @import "../sass/components/_all.sass";
// @import "../sass/grid/_all.sass";
// @import "../sass/layout/_all.sass";