@charset "utf-8";
//@import '../mysass.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic-ext');




$newcolor: #000033;
$dark: $newcolor;
$size-1: 4.5rem;
//$grey: #ffdc0d;
$family-sans-serif:'Open Sans', sans-serif;
//$family-sans-serif: "Nunito", sans-serif;

@import "../sass/utilities/_all.sass";
@import "../sass/base/_all.sass";
@import "../sass/elements/_all.sass";
@import "../sass/form/_all.sass";
@import "../sass/components/_all.sass";
@import "../sass/grid/_all.sass";
@import "../sass/layout/_all.sass";